extends layout

block content
    div.container
        if user
            div.profile-container
            div.profile-top
                div.avatar
                    img(src=`/images/${user.avatar}.svg`)
                |
                div.profile-top-right
                    div
                        h1.username= user.username
                        h5.email= user.email
                    if user.isMember && !user.isAdmin
                        h5.admin Member
                    if user.isAdmin
                        h5.admin Admin

            div.posts
                h2.profile-header= user.username + ' posts'
                if user && currentUser.isMember
                    div.messages.container
                        if messages
                            for message in messages
                                div.message-container
                                    div
                                        h1.title= message.title 
                                        p.text= message.text
                                    div.message-detail-container
                                        div.avatar-username-container
                                            div.avatar-message
                                                a(href=message.user.url)
                                                    p.username-message= message.user.username
                                                a(href=message.user.url)
                                                    img(src=`/images/${message.user.avatar}.svg`)
                                        div.timestamp-container
                                            p.timestamp-message= message.readableDate
                                        
                                        if currentUser.username === user.username
                                            form(method="POST", action='/delete-message')
                                                input(type="password" id="targetMessage", name="targetMessage" value=`${message._id}` style="display: none") 
                                                input(type="password" id="targetUser", name="targetUser" value=`${message.user._id}` style="display: none") 
                                                button.delete-button Delete